<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miguel.angelcalderon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="test.db" />

        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <meta-data
            android:name="AA_MODELS"
            android:value="com.miguel.angelcalderon.model.Category, com.miguel.angelcalderon.model.Place, com.miguel.angelcalderon.model.Item, com.miguel.angelcalderon.query.DefaultData"/>

        <activity
            android:name=".MainActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Money_"
            android:label="@string/menu_item_money"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Take_"
            android:label="@string/menu_item_make"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Location_"
            android:label="@string/menu_item_location"
            android:screenOrientation="portrait" />

        <activity android:name=".ListPlaces_"
            android:label="@string/menu_item_place"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MoreInfo_"
            android:label="@string/menu_item_more_info"
            android:screenOrientation="portrait" />

        <activity android:name=".Map"
            android:label="@string/menu_item_place"
            android:screenOrientation="portrait" />
    </application>
</manifest>
